<p><%= link_to 'log out', destroy_user_session_url, method: :delete %>
</p>


<h1>Trips</h1>

<div class="container">
	<%= link_to 'Add Trip', new_trip_path, class: "btn btn-outline-success btn-lg"%>

	<br>
	<br>

	<% @trips.each do |trip| %>

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4"><%= link_to trip.name, trip %></h1>

	    <p class="lead">Days Left: <%= days_left = (trip.start_date - Date.today).to_i %></p>
	  </div>
	</div>

	<% end %>

</div>