<h1>Edit Todo</h1>

<div class="container">
	<%= form_for scope: :todo, url: edit_todo_path, model: @todo, local: true do |f| %>



	<button type="submit" class="buttons">Confirm</button>
	<% end %>

	<br />

	<footer>
		<%= link_to image_tag("icons/back.png", class: "icons-trips"), todos_path %>
	</footer>


</div>