// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	// background: #FFAFBD;  /* fallback for old browsers */
	// background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-image: asset-url('bg.jpg');
	background-size: cover;
	border-radius: 20px;


}



.optionMain-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

.option-container {
	padding: 20px;
	border: 5px solid red;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

.days-container {
	background-color: white;
	border-radius: 20px;
	opacity: 0.5;

	p {
		text-align: center;
		padding: 10px	;
		font-weight: bold;
		color: black;
	}
}

.jumbotron.jumbotron-fluid {
  position: relative;
}

.delete-container {
	position: absolute;
  top: 20px;
  right: 16px;
}