// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	// background: #FFAFBD;  /* fallback for old browsers */
	// background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-image: asset-url('bg.jpg');
	background-size: cover;
	border-radius: 20px;


}



.optionMain-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// border: solid 1px red;
	padding: 10px;
}

.option-container {
	padding: 20px;
	border: 3px solid #D5B0AC;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

.days-container {
	background-color: white;
	border-radius: 20px;
	opacity: 0.5;

	p {
		text-align: center;
		padding: 10px	;
		font-weight: bold;
		color: black;
	}
}

.jumbotron.jumbotron-fluid {
  position: relative;
}

.delete-container {
	position: absolute;
  top: 12px;
  right: 10px;
}

.edit-container {
	position: absolute;
  top: 12px;
  right: 50px;
}
.tripDetails-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.tripDate-container {
		display: flex;
		flex-direction: row;
		padding: 10px;
	}

	.dayMonth-container {
		display: flex;
		flex-direction: column;
		padding-right: 10px;
		margin-right: 15px;
	}

	.number-container {
		display: flex;
		align-items: center;

		h2 {
			background-color: white;
		}
	}
}

.tripDuration-container {
	border: 2px solid #D5B0AC;
	border-radius: 20px;

	h2 {
		background-color: #D5B0AC;
		text-align: center;
		padding: 5px 0 5px;
		border-radius: 17px 17px 0 0;
	}

}

.footer {

	img.icons-trips {
	}

}